In [2]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.ensemble import RandomForestClassifier

In [4]:
from sklearn.metrics import accuracy_score,f1_score,recall_score,precision_score

In [5]:
df=pd.read_csv("matches.csv")

In [6]:
df.head(2)

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0.0,1.0,...,Match Report,NaN,18.0,4.0,16.9,1.0,0.0,0.0,2022,Manchester City
1,2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5.0,0.0,...,Match Report,NaN,16.0,4.0,17.3,1.0,0.0,0.0,2022,Manchester City

In [7]:
df.shape

(1389, 28)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1389 entries, 0 to 1388
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1389 non-null   int64
 1   date          1389 non-null   object
 2   time          1389 non-null   object
 3   comp          1389 non-null   object
 4   round         1389 non-null   object
 5   day           1389 non-null   object
 6   venue         1389 non-null   object
 7   result        1389 non-null   object
 8   gf            1389 non-null   float64
 9   ga            1389 non-null   float64
 10  opponent      1389 non-null   object
 11  xg            1389 non-null   float64
 12  xga           1389 non-null   float64
 13  poss          1389 non-null   float64
 14  attendance    693 non-null    float64
 15  captain       1389 non-null   object
 16  formation     1389 non-null   object
 17  referee       1389 non-null   object
 18  match report  1389 non-null   object
 19  notes         0 non-null      float64
 20  sh            1389 non-null   float64
 21  sot           1389 non-null   float64
 22  dist          1388 non-null   float64
 23  fk            1389 non-null   float64
 24  pk            1389 non-null   float64
 25  pkatt         1389 non-null   float64
 26  season        1389 non-null   int64
 27  team          1389 non-null   object
dtypes: float64(13), int64(2), object(13)
memory usage: 304.0+ KB

In [9]:
df['match report'].unique()

array(['Match Report'], dtype=object)

In [10]:
df.drop(columns=['match report'],inplace=True)

In [11]:
df.head(2)

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,...,referee,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0.0,1.0,...,Anthony Taylor,NaN,18.0,4.0,16.9,1.0,0.0,0.0,2022,Manchester City
1,2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5.0,0.0,...,Graham Scott,NaN,16.0,4.0,17.3,1.0,0.0,0.0,2022,Manchester City

In [12]:
20*38*2

1520

In [13]:
df['team'].value_counts()

Southampton                 72
Brighton and Hove Albion    72
Manchester United           72
West Ham United             72
Newcastle United            72
Burnley                     71
Leeds United                71
Crystal Palace              71
Manchester City             71
Wolverhampton Wanderers     71
Tottenham Hotspur           71
Arsenal                     71
Leicester City              70
Chelsea                     70
Aston Villa                 70
Everton                     70
Liverpool                   38
Fulham                      38
West Bromwich Albion        38
Sheffield United            38
Brentford                   34
Watford                     33
Norwich City                33
Name: team, dtype: int64

In [14]:
df[df['team']=='Liverpool']

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,...,referee,notes,sh,sot,dist,fk,pk,pkatt,season,team
705,1,2020-09-12,17:30,Premier League,Matchweek 1,Sat,Home,W,4.0,3.0,...,Michael Oliver,NaN,20.0,4.0,17.0,0.0,2.0,2.0,2021,Liverpool
706,2,2020-09-20,16:30,Premier League,Matchweek 2,Sun,Away,W,2.0,0.0,...,Paul Tierney,NaN,17.0,5.0,17.7,1.0,0.0,0.0,2021,Liverpool
707,4,2020-09-28,20:00,Premier League,Matchweek 3,Mon,Home,W,3.0,1.0,...,Craig Pawson,NaN,21.0,9.0,16.8,0.0,0.0,0.0,2021,Liverpool
708,6,2020-10-04,19:15,Premier League,Matchweek 4,Sun,Away,L,2.0,7.0,...,Martin Atkinson,NaN,14.0,8.0,15.8,1.0,0.0,0.0,2021,Liverpool
709,7,2020-10-17,12:30,Premier League,Matchweek 5,Sat,Away,D,2.0,2.0,...,Michael Oliver,NaN,22.0,8.0,15.0,1.0,0.0,0.0,2021,Liverpool
710,9,2020-10-24,20:00,Premier League,Matchweek 6,Sat,Home,W,2.0,1.0,...,Mike Dean,NaN,17.0,5.0,18.2,1.0,0.0,0.0,2021,Liverpool
711,11,2020-10-31,17:30,Premier League,Matchweek 7,Sat,Home,W,2.0,1.0,...,Kevin Friend,NaN,8.0,2.0,18.6,1.0,1.0,1.0,2021,Liverpool
712,13,2020-11-08,16:30,Premier League,Matchweek 8,Sun,Away,D,1.0,1.0,...,Craig Pawson,NaN,9.0,2.0,21.5,0.0,1.0,1.0,2021,Liverpool
713,14,2020-11-22,19:15,Premier League,Matchweek 9,Sun,Home,W,3.0,0.0,...,Chris Kavanagh,NaN,24.0,12.0,11.9,0.0,0.0,0.0,2021,Liverpool
714,16,2020-11-28,12:30,Premier League,Matchweek 10,Sat,Away,D,1.0,1.0,...,Stuart Attwell,NaN,6.0,2.0,20.9,0.0,0.0,0.0,2021,Liverpool
715,18,2020-12-06,19:15,Premier League,Matchweek 11,Sun,Home,W,4.0,0.0,...,Craig Pawson,NaN,11.0,6.0,16.6,1.0,0.0,0.0,2021,Liverpool
716,20,2020-12-13,16:30,Premier League,Matchweek 12,Sun,Away,D,1.0,1.0,...,Andre Marriner,NaN,11.0,5.0,20.0,1.0,1.0,1.0,2021,Liverpool
717,21,2020-12-16,20:00,Premier League,Matchweek 13,Wed,Home,W,2.0,1.0,...,Anthony Taylor,NaN,17.0,11.0,15.5,0.0,0.0,0.0,2021,Liverpool
718,22,2020-12-19,12:30,Premier League,Matchweek 14,Sat,Away,W,7.0,0.0,...,Jonathan Moss,NaN,14.0,7.0,13.2,1.0,0.0,0.0,2021,Liverpool
719,23,2020-12-27,16:30,Premier League,Matchweek 15,Sun,Home,D,1.0,1.0,...,Kevin Friend,NaN,17.0,2.0,17.8,2.0,0.0,0.0,2021,Liverpool
720,24,2020-12-30,20:00,Premier League,Matchweek 16,Wed,Away,D,0.0,0.0,...,Paul Tierney,NaN,11.0,4.0,16.7,0.0,0.0,0.0,2021,Liverpool
721,25,2021-01-04,20:00,Premier League,Matchweek 17,Mon,Away,L,0.0,1.0,...,Andre Marriner,NaN,17.0,1.0,14.3,0.0,0.0,0.0,2021,Liverpool
722,27,2021-01-17,16:30,Premier League,Matchweek 19,Sun,Home,D,0.0,0.0,...,Paul Tierney,NaN,17.0,3.0,17.1,0.0,0.0,0.0,2021,Liverpool
723,28,2021-01-21,20:00,Premier League,Matchweek 18,Thu,Home,L,0.0,1.0,...,Mike Dean,NaN,27.0,6.0,17.3,0.0,0.0,0.0,2021,Liverpool
724,30,2021-01-28,20:00,Premier League,Matchweek 20,Thu,Away,W,3.0,1.0,...,Martin Atkinson,NaN,14.0,7.0,14.7,0.0,0.0,0.0,2021,Liverpool
725,31,2021-01-31,16:30,Premier League,Matchweek 21,Sun,Away,W,3.0,1.0,...,Jonathan Moss,NaN,14.0,5.0,15.3,0.0,0.0,0.0,2021,Liverpool
726,32,2021-02-03,20:15,Premier League,Matchweek 22,Wed,Home,L,0.0,1.0,...,Kevin Friend,NaN,11.0,0.0,19.9,0.0,0.0,0.0,2021,Liverpool
727,33,2021-02-07,16:30,Premier League,Matchweek 23,Sun,Home,L,1.0,4.0,...,Michael Oliver,NaN,7.0,2.0,17.9,1.0,1.0,1.0,2021,Liverpool
728,34,2021-02-13,12:30,Premier League,Matchweek 24,Sat,Away,L,1.0,3.0,...,Anthony Taylor,NaN,15.0,4.0,15.4,2.0,0.0,0.0,2021,Liverpool
729,36,2021-02-20,17:30,Premier League,Matchweek 25,Sat,Home,L,0.0,2.0,...,Chris Kavanagh,NaN,16.0,6.0,15.9,1.0,0.0,0.0,2021,Liverpool
730,37,2021-02-28,19:15,Premier League,Matchweek 26,Sun,Away,W,2.0,0.0,...,Jonathan Moss,NaN,15.0,8.0,14.2,0.0,0.0,0.0,2021,Liverpool
731,38,2021-03-04,20:15,Premier League,Matchweek 29,Thu,Home,L,0.0,1.0,...,Martin Atkinson,NaN,7.0,1.0,18.4,0.0,0.0,0.0,2021,Liverpool
732,39,2021-03-07,14:00,Premier League,Matchweek 27,Sun,Home,L,0.0,1.0,...,Kevin Friend,NaN,16.0,3.0,17.0,1.0,0.0,0.0,2021,Liverpool
733,41,2021-03-15,20:00,Premier League,Matchweek 28,Mon,Away,W,1.0,0.0,...,Craig Pawson,NaN,12.0,4.0,15.9,0.0,0.0,0.0,2021,Liverpool
734,42,2021-04-03,20:00,Premier League,Matchweek 30,Sat,Away,W,3.0,0.0,...,Stuart Attwell,NaN,16.0,7.0,17.0,0.0,0.0,0.0,2021,Liverpool
735,44,2021-04-10,15:00,Premier League,Matchweek 31,Sat,Home,W,2.0,1.0,...,Paul Tierney,NaN,23.0,8.0,16.7,1.0,0.0,0.0,2021,Liverpool
736,46,2021-04-19,20:00,Premier League,Matchweek 32,Mon,Away,D,1.0,1.0,...,Anthony Taylor,NaN,17.0,7.0,15.7,0.0,0.0,0.0,2021,Liverpool
737,47,2021-04-24,12:30,Premier League,Matchweek 33,Sat,Home,D,1.0,1.0,...,Andre Marriner,NaN,21.0,9.0,17.0,1.0,0.0,0.0,2021,Liverpool
738,48,2021-05-08,20:15,Premier League,Matchweek 35,Sat,Home,W,2.0,0.0,...,Kevin Friend,NaN,14.0,6.0,12.4,0.0,0.0,0.0,2021,Liverpool
739,49,2021-05-13,20:15,Premier League,Matchweek 34,Thu,Away,W,4.0,2.0,...,Anthony Taylor,NaN,17.0,8.0,14.9,0.0,0.0,0.0,2021,Liverpool
740,50,2021-05-16,16:30,Premier League,Matchweek 36,Sun,Away,W,2.0,1.0,...,Mike Dean,NaN,26.0,6.0,16.9,1.0,0.0,0.0,2021,Liverpool
741,51,2021-05-19,20:15,Premier League,Matchweek 37,Wed,Away,W,3.0,0.0,...,Chris Kavanagh,NaN,20.0,3.0,15.5,1.0,0.0,0.0,2021,Liverpool
742,52,2021-05-23,16:00,Premier League,Matchweek 38,Sun,Home,W,2.0,0.0,...,Craig Pawson,NaN,19.0,5.0,14.2,1.0,0.0,0.0,2021,Liverpool

In [15]:
df['round'].value_counts()

Matchweek 1     39
Matchweek 16    39
Matchweek 34    39
Matchweek 32    39
Matchweek 31    39
Matchweek 29    39
Matchweek 28    39
Matchweek 26    39
Matchweek 25    39
Matchweek 24    39
Matchweek 23    39
Matchweek 2     39
Matchweek 19    39
Matchweek 17    39
Matchweek 20    39
Matchweek 15    39
Matchweek 5     39
Matchweek 3     39
Matchweek 13    39
Matchweek 12    39
Matchweek 4     39
Matchweek 11    39
Matchweek 10    39
Matchweek 9     39
Matchweek 8     39
Matchweek 14    39
Matchweek 7     39
Matchweek 6     39
Matchweek 30    37
Matchweek 27    37
Matchweek 22    37
Matchweek 21    37
Matchweek 18    37
Matchweek 33    32
Matchweek 35    20
Matchweek 36    20
Matchweek 37    20
Matchweek 38    20
Name: round, dtype: int64

In [16]:
df.dtypes

Unnamed: 0      int64
date           object
time           object
comp           object
round          object
day            object
venue          object
result         object
gf            float64
ga            float64
opponent       object
xg            float64
xga           float64
poss          float64
attendance    float64
captain        object
formation      object
referee        object
notes         float64
sh            float64
sot           float64
dist          float64
fk            float64
pk            float64
pkatt         float64
season          int64
team           object
dtype: object

In [17]:
 df['date']=pd.to_datetime(df['date'])

In [18]:
df.dtypes

Unnamed: 0             int64
date          datetime64[ns]
time                  object
comp                  object
round                 object
day                   object
venue                 object
result                object
gf                   float64
ga                   float64
opponent              object
xg                   float64
xga                  float64
poss                 float64
attendance           float64
captain               object
formation             object
referee               object
notes                float64
sh                   float64
sot                  float64
dist                 float64
fk                   float64
pk                   float64
pkatt                float64
season                 int64
team                  object
dtype: object

In [19]:
df['venue_code']=df['venue'].astype('category').cat.codes

In [20]:
df[['venue','venue_code']]

     venue  venue_code
0     Away           0
1     Home           1
2     Home           1
3     Away           0
4     Home           1
...    ...         ...
1384  Away           0
1385  Home           1
1386  Away           0
1387  Away           0
1388  Home           1

[1389 rows x 2 columns]

In [21]:
df['opp_code']=df['opponent'].astype('category').cat.codes

In [22]:
df[['opponent','opp_code']]

            opponent  opp_code
0          Tottenham        18
1       Norwich City        15
2            Arsenal         0
3     Leicester City        10
4        Southampton        17
...              ...       ...
1384       Tottenham        18
1385  Crystal Palace         6
1386         Everton         7
1387   Newcastle Utd        14
1388         Burnley         4

[1389 rows x 2 columns]

In [23]:
df['hour']=df['time'].str.replace(":.+","",regex=True).astype('int')

In [24]:
df[['time','hour']]

       time  hour
0     16:30    16
1     15:00    15
2     12:30    12
3     15:00    15
4     15:00    15
...     ...   ...
1384  19:15    19
1385  15:00    15
1386  19:00    19
1387  18:00    18
1388  16:00    16

[1389 rows x 2 columns]

In [25]:
df['day_code']=df['date'].dt.dayofweek
df['day_code']

0       6
1       5
2       5
3       5
4       5
       ..
1384    6
1385    5
1386    6
1387    2
1388    6
Name: day_code, Length: 1389, dtype: int64

In [26]:
df.columns

Index(['Unnamed: 0', 'date', 'time', 'comp', 'round', 'day', 'venue', 'result',
       'gf', 'ga', 'opponent', 'xg', 'xga', 'poss', 'attendance', 'captain',
       'formation', 'referee', 'notes', 'sh', 'sot', 'dist', 'fk', 'pk',
       'pkatt', 'season', 'team', 'venue_code', 'opp_code', 'hour',
       'day_code'],
      dtype='object')

In [27]:
df['result'].value_counts()

L    548
W    526
D    315
Name: result, dtype: int64

In [28]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [29]:
#le.fit(df['result'])

#perform label encoding across team, position, and all_star columns
df[['round_en','captain_en','formation_en', 'referee_en','day_en', 'venue_en', 'opponent_en','result_en']] = df[['round','captain','formation', 'referee','day', 'venue', 'opponent','result']].apply(LabelEncoder().fit_transform)

In [30]:
df.head(3)

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,...,hour,day_code,round_en,captain_en,formation_en,referee_en,day_en,venue_en,opponent_en,result_en
0,1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0.0,1.0,...,16,6,0,24,10,2,3,0,18,1
1,2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5.0,0.0,...,15,5,11,90,10,7,2,1,15,2
2,3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5.0,0.0,...,12,5,22,90,10,13,2,1,0,2

In [31]:
df['result_en'].value_counts()

1    548
2    526
0    315
Name: result_en, dtype: int64

In [32]:
df.drop(columns=['venue_code','opp_code'],inplace=True)

In [33]:
#df[['formation_en', 'referee_en']] = df[['formation', 'referee']].apply(LabelEncoder().fit_transform)

In [34]:
df.shape

(1389, 37)

In [35]:
df[['gf','ga','sh','sot','dist','fk','pk','pkatt']]

       gf   ga    sh   sot  dist   fk   pk  pkatt
0     0.0  1.0  18.0   4.0  16.9  1.0  0.0    0.0
1     5.0  0.0  16.0   4.0  17.3  1.0  0.0    0.0
2     5.0  0.0  25.0  10.0  14.3  0.0  0.0    0.0
3     1.0  0.0  25.0   8.0  14.0  0.0  0.0    0.0
4     0.0  0.0  16.0   1.0  15.7  1.0  0.0    0.0
...   ...  ...   ...   ...   ...  ...  ...    ...
1384  0.0  4.0   8.0   1.0  17.4  0.0  0.0    0.0
1385  0.0  2.0   7.0   0.0  11.4  1.0  0.0    0.0
1386  1.0  0.0  10.0   3.0  17.0  0.0  0.0    0.0
1387  0.0  1.0  11.0   1.0  16.0  1.0  0.0    0.0
1388  1.0  0.0  12.0   3.0  17.0  0.0  0.0    0.0

[1389 rows x 8 columns]

In [36]:
grouped_matches=df.groupby('team')
group = grouped_matches.get_group('Manchester City')

In [37]:
def rolling_avg(group,cols,new_cols):
    group=group.sort_values('date')
    rolling_stats=group[cols].rolling(3,closed='left').mean()
    group[new_cols]=rolling_stats
    group=group.dropna(subset=new_cols)
    return group

In [38]:
cols=['gf','ga','sh','sot','dist','fk','pk','pkatt']
new_cols=[f'{c}_rolling' for c in cols]

df_r=df.groupby('team').apply(lambda x:rolling_avg(x,cols,new_cols))

In [39]:
df_r

                             Unnamed: 0       date   time            comp  \
team
Arsenal                 898           6 2020-10-04  14:00  Premier League
                        899           7 2020-10-17  17:30  Premier League
                        900           9 2020-10-25  19:15  Premier League
                        901          11 2020-11-01  16:30  Premier League
                        902          13 2020-11-08  19:15  Premier League
...                                 ...        ...    ...             ...
Wolverhampton Wanderers 227          32 2022-03-13  14:00  Premier League
                        228          33 2022-03-18  20:00  Premier League
                        229          34 2022-04-02  15:00  Premier League
                        230          35 2022-04-08  20:00  Premier League
                        231          36 2022-04-24  14:00  Premier League

                                    round  day venue result   gf   ga  ...  \
team                                                                   ...
Arsenal                 898   Matchweek 4  Sun  Home      W  2.0  1.0  ...
                        899   Matchweek 5  Sat  Away      L  0.0  1.0  ...
                        900   Matchweek 6  Sun  Home      L  0.0  1.0  ...
                        901   Matchweek 7  Sun  Away      W  1.0  0.0  ...
                        902   Matchweek 8  Sun  Home      L  0.0  3.0  ...
...                                   ...  ...   ...    ...  ...  ...  ...
Wolverhampton Wanderers 227  Matchweek 29  Sun  Away      W  1.0  0.0  ...
                        228  Matchweek 30  Fri  Home      L  2.0  3.0  ...
                        229  Matchweek 31  Sat  Home      W  2.0  1.0  ...
                        230  Matchweek 32  Fri  Away      L  0.0  1.0  ...
                        231  Matchweek 34  Sun  Away      L  0.0  1.0  ...

                            opponent_en  result_en  gf_rolling  ga_rolling  \
team
Arsenal                 898          16          2    2.000000    1.333333
                        899          12          1    1.666667    1.666667
                        900          10          1    1.000000    1.666667
                        901          13          2    0.666667    1.000000
                        902           1          1    0.333333    0.666667
...                                 ...        ...         ...         ...
Wolverhampton Wanderers 227           7          2    1.333333    1.000000
                        228           9          1    1.666667    0.666667
                        229           1          2    2.333333    1.000000
                        230          14          1    1.666667    1.333333
                        231           4          1    1.333333    1.666667

                             sh_rolling sot_rolling dist_rolling fk_rolling  \
team
Arsenal                 898    7.666667    3.666667    14.733333   0.666667
                        899    5.333333    3.666667    15.766667   0.000000
                        900    7.000000    3.666667    16.733333   0.666667
                        901    9.666667    4.000000    16.033333   1.000000
                        902    9.666667    2.666667    18.033333   1.000000
...                                 ...         ...          ...        ...
Wolverhampton Wanderers 227   12.333333    3.666667    19.300000   0.000000
                        228   12.333333    4.333333    19.600000   0.000000
                        229   13.000000    5.333333    19.833333   0.000000
                        230   13.000000    5.000000    18.533333   0.000000
                        231   10.000000    4.666667    17.633333   0.000000

                             pk_rolling  pkatt_rolling
team
Arsenal                 898    0.000000       0.000000
                        899    0.000000       0.000000
                        900    0.000000       0.000000
                        901    0.000000       0.000000
                        902    0.333333       0.333333
...                                 ...            ...
Wolverhampton Wanderers 227    0.000000       0.000000
                        228    0.000000       0.000000
                        229    0.000000       0.000000
                        230    0.000000       0.000000
                        231    0.000000       0.000000

[1317 rows x 45 columns]

In [40]:
df_r=df_r.droplevel('team')
df_r.index=range(df_r.shape[0])

In [41]:
df_r.head(2)

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,...,opponent_en,result_en,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
0,6,2020-10-04,14:00,Premier League,Matchweek 4,Sun,Home,W,2.0,1.0,...,16,2,2.000000,1.333333,7.666667,3.666667,14.733333,0.666667,0.0,0.0
1,7,2020-10-17,17:30,Premier League,Matchweek 5,Sat,Away,L,0.0,1.0,...,12,1,1.666667,1.666667,5.333333,3.666667,15.766667,0.000000,0.0,0.0

In [42]:
df_r.columns

Index(['Unnamed: 0', 'date', 'time', 'comp', 'round', 'day', 'venue', 'result',
       'gf', 'ga', 'opponent', 'xg', 'xga', 'poss', 'attendance', 'captain',
       'formation', 'referee', 'notes', 'sh', 'sot', 'dist', 'fk', 'pk',
       'pkatt', 'season', 'team', 'hour', 'day_code', 'round_en', 'captain_en',
       'formation_en', 'referee_en', 'day_en', 'venue_en', 'opponent_en',
       'result_en', 'gf_rolling', 'ga_rolling', 'sh_rolling', 'sot_rolling',
       'dist_rolling', 'fk_rolling', 'pk_rolling', 'pkatt_rolling'],
      dtype='object')

In [43]:
df_r[['Unnamed: 0', 'date', 'time', 'comp', 'round', 'day', 'venue', 'result',
       'gf', 'ga', 'opponent', 'xg', 'xga', 'poss', 'attendance', 'captain']].head(2)

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,opponent,xg,xga,poss,attendance,captain
0,6,2020-10-04,14:00,Premier League,Matchweek 4,Sun,Home,W,2.0,1.0,Sheffield Utd,0.4,0.2,63.0,NaN,Pierre-Emerick Aubameyang
1,7,2020-10-17,17:30,Premier League,Matchweek 5,Sat,Away,L,0.0,1.0,Manchester City,0.9,1.5,41.0,NaN,Pierre-Emerick Aubameyang

In [44]:
df_r[['formation', 'referee', 'notes', 'sh', 'sot', 'dist', 'fk', 'pk',
       'pkatt', 'season', 'team', 'hour', 'day_code', 'round_en', 'captain_en']].head(2)

,formation,referee,notes,sh,sot,dist,fk,pk,pkatt,season,team,hour,day_code,round_en,captain_en
0,4-3-3,Lee Mason,NaN,6.0,5.0,16.7,0.0,0.0,0.0,2021,Arsenal,14,6,32,70
1,3-4-3,Chris Kavanagh,NaN,11.0,3.0,18.2,2.0,0.0,0.0,2021,Arsenal,17,5,33,70

In [45]:
df_r[['formation_en', 'referee_en', 'day_en', 'venue_en', 'opponent_en',
       'result_en', 'gf_rolling', 'ga_rolling', 'sh_rolling', 'sot_rolling',
       'dist_rolling', 'fk_rolling', 'pk_rolling', 'pkatt_rolling']].head(2)

,formation_en,referee_en,day_en,venue_en,opponent_en,result_en,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
0,10,12,3,1,16,2,2.000000,1.333333,7.666667,3.666667,14.733333,0.666667,0.0,0.0
1,1,3,2,0,12,1,1.666667,1.666667,5.333333,3.666667,15.766667,0.000000,0.0,0.0

In [46]:
df_fine=df_r[['team','date', 'hour', 'day_code', 'round_en', 'captain_en',
       'formation_en', 'referee_en', 'day_en', 'venue_en', 'opponent_en',
       'result_en', 'gf_rolling', 'ga_rolling', 'sh_rolling', 'sot_rolling',
       'dist_rolling', 'fk_rolling', 'pk_rolling', 'pkatt_rolling']]
df_fine

,team,date,hour,day_code,round_en,captain_en,formation_en,referee_en,day_en,venue_en,opponent_en,result_en,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
0,Arsenal,2020-10-04,14,6,32,70,10,12,3,1,16,2,2.000000,1.333333,7.666667,3.666667,14.733333,0.666667,0.000000,0.000000
1,Arsenal,2020-10-17,17,5,33,70,1,3,2,0,12,1,1.666667,1.666667,5.333333,3.666667,15.766667,0.000000,0.000000,0.000000
2,Arsenal,2020-10-25,19,6,34,70,1,4,3,1,10,1,1.000000,1.666667,7.000000,3.666667,16.733333,0.666667,0.000000,0.000000
3,Arsenal,2020-11-01,16,6,35,70,1,16,3,0,13,2,0.666667,1.000000,9.666667,4.000000,16.033333,1.000000,0.000000,0.000000
4,Arsenal,2020-11-08,19,6,36,70,1,13,3,1,1,1,0.333333,0.666667,9.666667,2.666667,18.033333,1.000000,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1312,Wolverhampton Wanderers,2022-03-13,14,6,21,14,4,14,3,0,7,2,1.333333,1.000000,12.333333,3.666667,19.300000,0.000000,0.000000,0.000000
1313,Wolverhampton Wanderers,2022-03-18,20,4,23,14,1,11,0,1,9,1,1.666667,0.666667,12.333333,4.333333,19.600000,0.000000,0.000000,0.000000
1314,Wolverhampton Wanderers,2022-04-02,15,5,24,14,1,5,2,1,1,2,2.333333,1.000000,13.000000,5.333333,19.833333,0.000000,0.000000,0.000000
1315,Wolverhampton Wanderers,2022-04-08,20,4,25,14,1,18,0,0,14,1,1.666667,1.333333,13.000000,5.000000,18.533333,0.000000,0.000000,0.000000
1316,Wolverhampton Wanderers,2022-04-24,14,6,27,14,1,2,3,0,4,1,1.333333,1.666667,10.000000,4.666667,17.633333,0.000000,0.000000,0.000000

In [47]:
class MissingDict(dict):
    __missing__ = lambda self, key: key

map_values = {"Brighton and Hove Albion": "Brighton", "Manchester United": "Manchester Utd", "Newcastle United": "Newcastle Utd", "Tottenham Hotspur": "Tottenham", "West Ham United": "West Ham", "Wolverhampton Wanderers": "Wolves"} 
mapping = MissingDict(**map_values)
df_fine["team"] = df_fine["team"].map(mapping)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12640\2074846765.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fine["team"] = df_fine["team"].map(mapping)

In [48]:
df_fine["team"].unique()

array(['Arsenal', 'Aston Villa', 'Brentford', 'Brighton', 'Burnley',
       'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Leeds United',
       'Leicester City', 'Liverpool', 'Manchester City', 'Manchester Utd',
       'Newcastle Utd', 'Norwich City', 'Sheffield United', 'Southampton',
       'Tottenham', 'Watford', 'West Bromwich Albion', 'West Ham',
       'Wolves'], dtype=object)

In [49]:
#perform label encoding across team, position, and all_star columns
df_fine[['team_en']] = df_fine[['team']].apply(LabelEncoder().fit_transform)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12640\2351045499.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fine[['team_en']] = df_fine[['team']].apply(LabelEncoder().fit_transform)

In [50]:
df_fine

,team,date,hour,day_code,round_en,captain_en,formation_en,referee_en,day_en,venue_en,...,result_en,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling,team_en
0,Arsenal,2020-10-04,14,6,32,70,10,12,3,1,...,2,2.000000,1.333333,7.666667,3.666667,14.733333,0.666667,0.000000,0.000000,0
1,Arsenal,2020-10-17,17,5,33,70,1,3,2,0,...,1,1.666667,1.666667,5.333333,3.666667,15.766667,0.000000,0.000000,0.000000,0
2,Arsenal,2020-10-25,19,6,34,70,1,4,3,1,...,1,1.000000,1.666667,7.000000,3.666667,16.733333,0.666667,0.000000,0.000000,0
3,Arsenal,2020-11-01,16,6,35,70,1,16,3,0,...,2,0.666667,1.000000,9.666667,4.000000,16.033333,1.000000,0.000000,0.000000,0
4,Arsenal,2020-11-08,19,6,36,70,1,13,3,1,...,1,0.333333,0.666667,9.666667,2.666667,18.033333,1.000000,0.333333,0.333333,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1312,Wolves,2022-03-13,14,6,21,14,4,14,3,0,...,2,1.333333,1.000000,12.333333,3.666667,19.300000,0.000000,0.000000,0.000000,22
1313,Wolves,2022-03-18,20,4,23,14,1,11,0,1,...,1,1.666667,0.666667,12.333333,4.333333,19.600000,0.000000,0.000000,0.000000,22
1314,Wolves,2022-04-02,15,5,24,14,1,5,2,1,...,2,2.333333,1.000000,13.000000,5.333333,19.833333,0.000000,0.000000,0.000000,22
1315,Wolves,2022-04-08,20,4,25,14,1,18,0,0,...,1,1.666667,1.333333,13.000000,5.000000,18.533333,0.000000,0.000000,0.000000,22
1316,Wolves,2022-04-24,14,6,27,14,1,2,3,0,...,1,1.333333,1.666667,10.000000,4.666667,17.633333,0.000000,0.000000,0.000000,22

In [51]:
df_fine[df_fine['team']=='Wolves'].head(7)

,team,date,hour,day_code,round_en,captain_en,formation_en,referee_en,day_en,venue_en,...,result_en,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling,team_en
1249,Wolves,2020-10-04,14,6,32,14,4,5,3,1,...,2,1.000000,2.333333,10.666667,2.333333,17.333333,0.000000,0.0,0.0,22
1250,Wolves,2020-10-19,20,0,33,14,4,6,1,0,...,2,0.666667,2.333333,11.666667,2.666667,18.033333,0.333333,0.0,0.0,22
1251,Wolves,2020-10-25,16,6,34,14,1,12,3,1,...,0,0.666667,1.333333,10.666667,3.333333,18.000000,0.333333,0.0,0.0,22
1252,Wolves,2020-10-30,20,4,35,14,1,13,0,1,...,2,1.000000,0.333333,12.333333,4.000000,19.033333,0.333333,0.0,0.0,22
1253,Wolves,2020-11-08,14,6,36,14,1,2,3,0,...,1,1.333333,0.333333,12.666667,4.000000,19.100000,0.000000,0.0,0.0,22
1254,Wolves,2020-11-23,20,0,37,76,10,0,1,1,...,0,1.000000,0.666667,12.666667,3.666667,20.333333,0.333333,0.0,0.0,22
1255,Wolves,2020-11-29,19,6,1,14,7,14,3,0,...,2,1.000000,0.666667,14.000000,5.333333,18.133333,0.666667,0.0,0.0,22

In [52]:
df_fine.columns

Index(['team', 'date', 'hour', 'day_code', 'round_en', 'captain_en',
       'formation_en', 'referee_en', 'day_en', 'venue_en', 'opponent_en',
       'result_en', 'gf_rolling', 'ga_rolling', 'sh_rolling', 'sot_rolling',
       'dist_rolling', 'fk_rolling', 'pk_rolling', 'pkatt_rolling', 'team_en'],
      dtype='object')

In [66]:
#dff=df_fine[['team', 'hour', 'day_code', 'round_en', 'captain_en', 'formation_en',
 #      'referee_en', 'day_en', 'venue_en', 'opponent_en', 
 #      'gf_rolling', 'ga_rolling', 'sh_rolling', 'sot_rolling', 'dist_rolling',
 #      'fk_rolling', 'pk_rolling', 'pkatt_rolling', 'team_en']]

In [53]:
x1=df_fine[df_fine['date']<'2022-01-01']
x2= df_fine[df_fine['date']>'2022-01-01']

In [79]:
x_train=x1[['hour', 'day_code', 'round_en', 'captain_en',
       'formation_en', 'referee_en', 'day_en', 'venue_en', 'opponent_en',
        'gf_rolling', 'ga_rolling', 'sh_rolling', 'sot_rolling',
       'dist_rolling', 'fk_rolling', 'pk_rolling', 'pkatt_rolling', 'team_en']]
y_train=x1['result_en']

In [80]:
x_train.columns

Index(['hour', 'day_code', 'round_en', 'captain_en', 'formation_en',
       'referee_en', 'day_en', 'venue_en', 'opponent_en', 'gf_rolling',
       'ga_rolling', 'sh_rolling', 'sot_rolling', 'dist_rolling', 'fk_rolling',
       'pk_rolling', 'pkatt_rolling', 'team_en'],
      dtype='object')

In [81]:
y_train

0       2
1       1
2       1
3       2
4       1
       ..
1297    0
1298    1
1299    1
1300    2
1301    0
Name: result_en, Length: 1035, dtype: int32

In [82]:
x_test=x2[['hour', 'day_code', 'round_en', 'captain_en',
       'formation_en', 'referee_en', 'day_en', 'venue_en', 'opponent_en',
        'gf_rolling', 'ga_rolling', 'sh_rolling', 'sot_rolling',
       'dist_rolling', 'fk_rolling', 'pk_rolling', 'pkatt_rolling', 'team_en']]
y_test=x2['result_en']

In [83]:
x_test

,hour,day_code,round_en,captain_en,formation_en,referee_en,day_en,venue_en,opponent_en,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling,team_en
55,14,6,15,4,5,6,3,1,4,3.333333,1.000000,14.333333,6.333333,16.133333,0.333333,0.333333,0.333333,0
56,19,3,16,4,7,14,4,0,22,2.000000,0.666667,14.000000,4.000000,17.033333,1.000000,0.333333,0.333333,0
57,15,5,18,4,7,10,2,1,2,0.666667,0.666667,13.000000,3.000000,17.066667,0.666667,0.000000,0.000000,0
58,19,3,12,4,7,13,4,1,22,1.000000,0.333333,18.666667,4.666667,17.133333,0.666667,0.000000,0.000000,0
59,14,6,20,4,7,4,3,0,19,1.666667,0.666667,20.666667,4.666667,16.066667,0.333333,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1312,14,6,21,14,4,14,3,0,7,1.333333,1.000000,12.333333,3.666667,19.300000,0.000000,0.000000,0.000000,22
1313,20,4,23,14,1,11,0,1,9,1.666667,0.666667,12.333333,4.333333,19.600000,0.000000,0.000000,0.000000,22
1314,15,5,24,14,1,5,2,1,1,2.333333,1.000000,13.000000,5.333333,19.833333,0.000000,0.000000,0.000000,22
1315,20,4,25,14,1,18,0,0,14,1.666667,1.333333,13.000000,5.000000,18.533333,0.000000,0.000000,0.000000,22
1316,14,6,27,14,1,2,3,0,4,1.333333,1.666667,10.000000,4.666667,17.633333,0.000000,0.000000,0.000000,22

In [84]:
y_test

55      0
56      2
57      2
58      2
59      2
       ..
1312    2
1313    1
1314    2
1315    1
1316    1
Name: result_en, Length: 276, dtype: int32

In [85]:
rf=RandomForestClassifier(n_estimators=25,max_depth=3,random_state=1)

In [86]:
rf.fit(x_train,y_train)

RandomForestClassifier(max_depth=3, n_estimators=25, random_state=1)

In [87]:
rf.feature_importances_

array([0.01108937, 0.02215735, 0.03178006, 0.10574469, 0.05235353,
       0.05603263, 0.03321692, 0.00680671, 0.13719521, 0.04587139,
       0.05836013, 0.17937443, 0.06551704, 0.07983473, 0.02756907,
       0.00351877, 0.00458972, 0.07898825])

In [88]:
pred=rf.predict(x_test)

In [90]:
from sklearn.metrics import accuracy_score

In [93]:
acc=accuracy_score(y_test,pred)

In [94]:
acc

0.5108695652173914

In [96]:
f1_score(y_test,pred,average='weighted')

0.45231028375060794

In [97]:
recall_score(y_test,pred,average='weighted')

0.5108695652173914

In [98]:
precision_score(y_test,pred,average='weighted')

C:\Users\Lenovo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.41033210802169096

In [99]:
from sklearn.svm import SVC
svc=SVC()

In [101]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

pipe = Pipeline([('scaler', StandardScaler()),('SVC', SVC())])

In [102]:
pipe.fit(x_train, y_train)

Pipeline(steps=[('scaler', StandardScaler()), ('SVC', SVC())])

In [104]:
pred=pipe.predict(x_test)

In [105]:
accuracy_score(y_test,pred)

0.4492753623188406

In [106]:
from xgboost import XGBClassifier

In [107]:

pipe2 = Pipeline([('scaler', StandardScaler()),('XGB', XGBClassifier())])

In [108]:
pipe2.fit(x_train, y_train)
pred1=pipe2.predict(x_test)
accuracy_score(y_test,pred1)

0.4311594202898551